.service-container {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg-image-transition {
    transition: background-image 1s ease-in-out;
}

.service-card {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.427);
    /* background: #fffbf552; */
    /* background: rgba(255, 255, 255, 0.85); */
}



/* التجاوب مع الشاشات الصغيرة */
@media (max-width: 768px) {
    .service-card {
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.92);
        /* padding: 1.5rem; */
    }

    .service-container {
        min-height: 500px;
    }

    .service-container>div {
        height: 500px;
    }
}