<!-- <p>service works!</p> -->
<div class="bg-second">
    <app-home-service [serviceData]="currentService"></app-home-service>

    @if (currentService) {
    <app-features-section [featuresData]="currentService.serviceFeatures"></app-features-section>
    } @else {
    <div class="loading-indicator">
        <div class="loading-spinner"></div>
        جاري تحميل البيانات...
    </div>
    }

    <app-order-service></app-order-service>

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus porro dolorum sit, veritatis exercitationem
        aperiam, a nostrum maxime aliquid ipsum neque dolor, quae reprehenderit eos nobis similique accusamus magnam
        delectus!</p> -->
    <app-footer />
</div>