<div class="bg-second" id="about">
    <div
        class="max-w-screen-xl mx-auto px-4 py-12 w-full h-fit flex flex-col md:flex-row justify-between items-center rtl-text gap-5">
        <div class=" md:min-w-80 w-[300px] " data-aos="fade-up-right">
            <img [src]="assets.about" alt="about us" />
        </div>
        <div class=" text-right md:w-[70%]" data-aos="fade-up-left">
            <p class="p-5 text-3xl ">عن رحال</p>
            <div class="relative p-5">
                <div class="absolute right-0 top-0 w-[20%] h-[50%] border-t-3 border-r-3 border-primary rounded-tr-3xl">
                </div>
                <p class="">رحال هي شركة متخصصة في خدمات نقل الأثاث وشحن الطرود داخل حدود الوطن العربي، برًا وبحرًا
                    وجوًا.
                    نحن في
                    رحال نؤمن أن رحلة نقل أغراضك يجب أن تكون سهلة، آمنة، وخالية من القلق.نقدم خدمات متكاملة تشمل فك
                    وتغليف
                    ونقل الأثاث، بالإضافة إلى شحن الطرود بمختلف الطرق.بفضل فريقنا المحترف وأحدث وسائل النقل والتغليف،
                    نضمن
                    .لك وصول ممتلكاتك بأمان وفي الوقت المحدد، أينما كانت وجهتك<br />
                    <span class="text-primary text-3xl">
                        .مع رحال… الرحلة تبدأ بثقة وتنتهي براحة بال
                    </span>
                </p>
                <div
                    class="absolute left-0 bottom-0 w-[20%] h-[50%] border-b-3 border-l-3 border-primary rounded-bl-3xl">
                </div>
            </div>
        </div>

    </div>
</div>